ProjectEmployeeAssignment/Connected Services/LoginService/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA_Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA_Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionUserModel" nillable="true" type="tns:SessionUserModel" />
  <xs:complexType name="OperationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CookieUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperationLogSeq" type="xs:int" />
      <xs:element minOccurs="0" name="RemoteAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationModel" nillable="true" type="tns:OperationModel" />
</xs:schema>