ProjectEmployeeAssignment/Connected Services/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50244/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50244/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50244/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA_Common" />
      <xsd:import schemaLocation="http://localhost:50244/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_EmployeeCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeCreate" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeList" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeUpdate" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeDelete" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllDataCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataCount" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllDataCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="EmployeeCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeCreate" message="tns:IEmployeeService_EmployeeCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeCreateResponse" message="tns:IEmployeeService_EmployeeCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeList" message="tns:IEmployeeService_GetEmployeeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeListResponse" message="tns:IEmployeeService_GetEmployeeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeUpdate" message="tns:IEmployeeService_EmployeeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeUpdateResponse" message="tns:IEmployeeService_EmployeeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeById" message="tns:IEmployeeService_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByIdResponse" message="tns:IEmployeeService_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeDelete" message="tns:IEmployeeService_EmployeeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeDeleteResponse" message="tns:IEmployeeService_EmployeeDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAllDataCount" message="tns:IEmployeeService_GetAllDataCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllDataCountResponse" message="tns:IEmployeeService_GetAllDataCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeCreate">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EmployeeCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeList">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeUpdate">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EmployeeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EmployeeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataCount">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetAllDataCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:50244/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>